* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --colorPrimary: skyblue;
  --colorSecondary: lightpink;
  --colorAncent: black;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: var(--colorPrimary);
  color: var(--colorAncent);
  text-align: center;
  transition: 0.5s ease-in;
}

.project-title {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px 5px 10px;
  background: darkblue;
  color: aliceblue;
}

.app-title{
  text-align: center;
  color: darkblue;
}

.container {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 95vh;
}

/* new css line */
.tebakan {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  justify-content: space-evenly;
  padding: 10px 25px;
  background-color: darkblue;
  color: aliceblue;
  border-radius: 5px;
  margin: 0 25px;
}

.pertanyaan {
  font-weight: bold;
}

.jawaban {
  padding: 5px;
  background-color: white;
  display: none;
  color: darkblue;
  border-radius: 5px;
}

.button {
  padding: 1rem;
  font-weight: bold;
  color: white;
  background-color: darkblue;
  border: none;
  cursor:pointer;
  border-radius: 5px;
  box-shadow: 1px 0 5px rgba(100,100,100,0.5);
  transition: .25s linear;
}

.button:hover {
  background-color: white;
  color: darkblue;
}

.button:active {
  transform: scale(1.2);
}

.button:focus {
  outline: none;
}

/* Love icon */
.love{
  width: 10px;
  height: 10px;
  position: absolute;
  margin-top: 3px;
  margin-left: -2px;
  background-color: red;
  transform: rotate(45deg);
  display: inline;
}

.love::after,
.love::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: red;
  border-radius: 50%;
}

.love::after {
  top: -5px;
  left: 0;
}

.love::before {
  top: 0;
  left: -5px;
}

.text-footer{
  margin: 0 10px;
  text-align: center;
}

.author {
  color: darkblue;
}

@media only screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
  .menu {
    margin: 15px 15px 0 15px;
    width: inherit;
  }
  .content {
    margin: 0 15px;
    padding: 10px 15px;
  }
  .diagram {
    margin: 0 15px;
  }
  .title, .result-code, .play-btn {
    margin: 5px 0;
  }
  .menu,
  .content,
  .diagram {
    width: 215px;
  }
}
/* @media only screen and (max-height: 700px) {
  .a::before {
    top: 55px;
  }
} */
